@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
  font-family: 'Poppins', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: azure;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  text-align: center;
}

.greetings {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.greetings .line {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.greetings .line span {
  animation: glow 5s ease-in-out infinite;
  display: inline-block;
}

@keyframes glow {
  0%, 100% {
    color: #fff;
    text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
  }
  45%, 55% {
    color: #111;
    text-shadow: none;
  }
}

.description {
  font-size: 1rem;
  margin: 20px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.button button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.3s;
}

.button button:hover {
  background-color: #39c6d6;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

.note {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 0.9rem;
  color: #ccc;
  font-style: italic;
  text-align: right;
}

.note-under {
  font-size: 0.75rem;
  color: #ccc;
  /* font-style: italic; */
  margin-top: 20px; /* Atur jarak di sini */
}


@media screen and (max-width: 574px) {
  .greetings {
    font-size: 1.8rem;
    word-break: break-word;
  }

  .description {
    font-size: 0.8rem;
  }

  .button a {
    font-size: 0.8rem;
  }

  .button {
    margin: 5px;
  }

  .note {
    font-size: 0.75rem;
    bottom: 20px;
    right: 20px;
  }
}
